.sideBar {
  /* position: fixed; */

  width: 25%;
  height: 100vh;

  padding: 24px;
  padding-left: 48px;
  padding-top: 75px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  overflow-y: auto;

  background-color: #f7f9ff;
  /* background-color: darkgoldenrod; */
}

.sideBarNav {
  width: 100%;

  gap: 8px;
  /* background-color: blueviolet; */

  margin-top: 32px;

  display: flex;
  flex-direction: column;
}

.navLink {
  width: 100%;
  /* background-color: rebeccapurple; */

  padding: 12px 16px;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;

  border-radius: 20px;

  /* color: #007a7c; */

  color: #64748b;
}
.navLink:hover {
  background-color: #e8eef7;
  color: #007a7c;
}
.navLink:hover .navIcon {
  color: #007a7c;
}
.navIcon {
  width: 18px;
  height: 18px;

  color: #64748b;
  /* background-color: #007a7c; */
}
@media screen and (max-width: 1285px) {
  .sideBar {
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media screen and (max-width: 1185px) {
  .sideBar {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media screen and (max-width: 800px) {
  .sideBar {
    width: fit-content;
    width: 15%;

    align-items: center;
    padding-right: 0%;
  }
  .navText {
    display: none;
  }
  .sideBarNav {
    align-items: center;
  }
  .navLink {
    width: fit-content;
  }
  .navLink {
    padding: 12px;
  }
  .navLink:hover {
    background-color: #007a7c;
  }
  .navLink:hover .navIcon {
    color: #e8eef7;
  }
}
@media screen and (max-width: 500px) {
  .navLink {
    padding: 10px;
  }
  .sideBar {
    display: none;
  }
}
